$max-width : 1280px;
$body-font-family: "Roboto";

/*
  Header
*/
$header-container-height: 81px;
$header-container-background-color: rgb( 255, 255, 255 );
$header-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
$header-container-vertical-padding : 20px;
$header-height : ($header-container-height - $header-container-vertical-padding);


@mixin header-container {

  height: $header-container-height;
  background-color: $header-container-background-color;
  box-shadow: $header-box-shadow;
  padding: ($header-container-vertical-padding/2) 0;

  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;

  @include transition-property(all);
  @include transition-duration(150ms);
  @include transition-timing-function(linear);

  &.affix {

    height: $header-height;
    padding: 0;

  }

}

$header-menu-font-size: 14px;
$header-menu-color: #7e7e7e;
$header-menu-color-hover: #c6002a;

@mixin header-menu {

  ul {

    @extend .clearfix;

    li {

      padding: 0;
      margin: 1px 0 0;
      display: inline-block;
      position: relative;
      float: left;

      a {

        display: block;
        padding: 18px;

        font-size: $header-menu-font-size;
        color: $header-menu-color;

        & > span {
          padding-bottom: 7px;
          border-bottom: 2px solid transparent;
        }

        &:hover {

          color: $header-menu-color-hover;

          & > span {
            border-color: $header-menu-color-hover;
          }

        }

      }

    }

  }

}

/*
  Block
*/
$block-title-font-size: 30px;
$block-title-line-height: 1;
$block-title-color: rgb( 0, 0, 0 );
$block-title-font-weight: bold;
$block-title-text-align: center;

@mixin block-title {
  font-size: $block-title-font-size;
  line-height: $block-title-line-height;
  color: $block-title-color;
  font-weight: $block-title-font-weight;
  text-align: $block-title-text-align;
}

/*
  Tabs
*/
@mixin tabs-item {

  display: inline-block;
  height: 100%;
  padding: 0;
  margin: 0;

  a {

    width: 100%;
    position: relative;
    font-size: 16px;
    color: rgb( 0, 118, 181 );
    font-weight: bold;
    line-height: 1.875;
    text-align: center;

    &:after {
      border: 2px dotted rgb( 0, 118, 181 );
      position: absolute;
      left: 0px;
      bottom: 0px;
      width: 100%;
      height: 0px;

    }

  }

  &.active {

    border-radius: 2px;
    background-image: -moz-linear-gradient( 90deg, rgb(145,220,0) 0%, rgb(28,169,0) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(145,220,0) 0%, rgb(28,169,0) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(145,220,0) 0%, rgb(28,169,0) 100%);

    a {
      color: rgb( 255, 255, 255 );
    }

  }

}

@mixin tabs {

  display: block;
  height: 41px;
  padding: 0;
  margin: 0;
  text-align: center;

  li {
    @include tabs-item();
  }

}

/*
  Proposals list
*/
@mixin proposals-list-item-price {

  height: 12px;
  font-size: 14px;
  color: rgb( 0, 0, 0 );
  font-weight: bold;
  line-height: 1.429;
  text-align: center;

}

@mixin proposals-list-item-title {

  font-size: 14px;
  color: rgb( 0, 0, 0 );
  line-height: 1.429;
  text-align: center;

}

@mixin proposals-list-item-image-wrapper {

  border: 1px solid rgb( 202, 202, 202 );
  background-color: rgb( 255, 255, 255 );
  width: 220px;
  height: 220px;

  img {
    width: 220px;
    height: 220px;
  }

}

@mixin big-button {

  font-size: 20px;
  color: rgb( 255, 255, 255 );
  font-weight: bold;
  text-transform: uppercase;
  line-height: 3;
  text-align: center;
  text-shadow: 1.414px 1.414px 0px rgb( 0, 0, 0 );

  -moz-transform: matrix( 2,0,0,2,0,0);
  -webkit-transform: matrix( 2,0,0,2,0,0);
  -ms-transform: matrix( 2,0,0,2,0,0);

  @include border-radius(4px);
  background-image: -moz-linear-gradient( 90deg, rgb(255,48,0) 0%, rgb(255,114,0) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(255,48,0) 0%, rgb(255,114,0) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(255,48,0) 0%, rgb(255,114,0) 100%);
  box-shadow: 1.414px 1.414px 2px 0px rgb( 0, 0, 0 );

  display: inline-block;
  height: 61px;

}

